.race-controls {
  @include flex(flex-start, center, column);
  row-gap: 10px;
}

.car {
  @include flex(center, flex-start, column);
  row-gap: 5px;
  width: 100%;

  .car-btn {
    @extend %transition;

    @include font(1.5rem, 700, 1);
    padding: 5px 10px;
  }

  .race-btn {
    @include font(1.5rem, 700, 1);
    padding: 5px 10px;

    &_start {
      outline: 2px solid #0bff01;
    }

    &_stop {
      outline: 2px solid #fe0000;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.car-controls {
  @include flex(flex-start, center);
  column-gap: 10px;
}

.car-track {
  @include flex(flex-start, center);
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background: repeat-x url('../../img/track-bg.png');
  background-size: contain;

  &::after {
    content: '';
    position: absolute;
    top: -25px;
    right: 75px;
    display: block;
    width: 40px;
    height: 40px;
    background: center no-repeat url('../../img/flag.svg');
    background-size: contain;
  }
}

.car-image {
  @include flex(flex-start, center);
  width: fit-content;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 20px;
    height: 30px;
    background: center no-repeat url('../../img/fire.gif');
    background-size: cover;
  }

  .car_broken & {
    &::after {
      display: block;
    }
  }
}

.car-name {
  @include font(1.6rem, 700, 1.25);
  color: var(--color-font-light);
}

.track-container {
  @include flex(flex-start, center);
  gap: 10px;
  width: 100%;
}
