:root {
  --color-primary-bright: #00cccc;
  --color-input: #e5ffff;
  --color-button: #2c4b55;
  --color-hover: rgba(0, 255, 255, 0.7);
  --color-font-light: #e5ffff;
  --color-font-dark: #003333;

  --color-font-invalid: #FFC61B;

  --color-background-black-transparent: rgb(0 0 0 / 5%);
  --color-background-white-transparent: rgb(255 255 255/ 30%);
  --color-shadow-dark: rgb(0 0 0 / 40%);
}
