.pgn-container {
  @include flex(center, center);
  gap: 3%;
  width: 100%;
  margin-top: auto;
}

.pgn-button {
  @include flex(center, center);

  @include media-laptop {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 10px;

  &:disabled {
    opacity: 0.5;
  }
}

.pgn-icon {

  @include media-laptop {
    width: 20px;
    height: 20px;
  }
  display: block;
  width: 40px;
  height: 40px;
  background: center no-repeat url('../img/next.svg');
  background-size: contain;

  .pgn-button_previous & {
    transform: rotate(180deg);
  }
}

.pgn-text {
  @include font(2.4rem, 700, normal, 0.05rem);

  @include media-laptop {
    font-size: 1.6rem;
  }
  color: var(--color-font-light);
}

.pgn-total {
  @include font(2.4rem, 700, normal, 0.05rem);

  @include media-laptop {
    font-size: 1.6rem;
  }
  color: var(--color-primary-bright);
  text-transform: uppercase;
}
