.toolbar {
  @include flex(space-between, center);
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
}

.controls-container {
  @include flex(space-between, center);

  @include media-laptop {
    width: 45%;
  }
  flex-wrap: wrap;
  row-gap: 10px;
  width: 30%;
}

.race-container {
  @include flex(flex-start, center);

  @include media-laptop {
    justify-content: center;
    width: 100%;
  }
  gap: 3%;
  width: 35%;
}

.input-name {
  @extend %transition;

  @include font(1.6rem, 700, 1.25);

  @include media-hover {
    &:hover {
      box-shadow: 0 0 4px 2px var(--color-hover);
    }
  }

  width: 70%;
  height: 40px;
  padding: 10px;
  color: var(--color-font-dark);
  background: var(--color-input);
  border: 1px solid var(--color-background);
  border-radius: 8px;

  &:focus {
    background: rgb(255 255 255 / 70%);
    border: 1px solid var(--color-primary-bright);
    box-shadow: none;
  }
}

.input-error {
  @include font(1.5rem, 700, normal, 0.05rem);
  display: block;
  margin-bottom: 5px;
  color: var(--color-font-invalid);
}

.input-color {
  width: 25%;
  height: 40px;
  border: 1px solid var(--color-background);
}

.pgn-container {
  @include flex(center, center);
  gap: 3%;
  width: 100%;
}

.pgn-button {
  @include flex(center, center);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 0;

  &:disabled {
    opacity: 0.5;
  }
}

.pgn-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: center no-repeat url('../../img/next.svg');
  background-size: contain;

  .pgn-button_previous & {
    transform: rotate(180deg);
  }
}

.pgn-text {
  @include font(2.4rem, 700, normal, 0.05rem);
  color: var(--color-font-light);
}

.pgn-total {
  @include font(2.4rem, 700, normal, 0.05rem);
  color: var(--color-primary-bright);
  text-transform: uppercase;
}
